{% extends 'base.html' %}
{% block title %}Cart{% endblock %}

{% block head %}

{% endblock %}

{% block body %}
<h3>Shopping Cart</h3>

<div id="cart-contents">
    {% if listingsData %}
        {% for listing in listingsData %}
            <div class="cart-listing">
                <div class="order-details">
                    <strong>Listing ID:</strong> {{ listing['id'] }}<br>
                    <strong>Product Title:</strong> {{ listing['title'] }}<br>
                    <strong>Product Name:</strong> {{ listing['name'] }}<br>
                    <strong>Seller Email:</strong> {{ listing['sellerEmail'] }}<br>
                    <strong>Quantity:</strong> {{ listing['quantity'] }}<br>
                    <strong>Unit Price:</strong> ${{ listing['price'] }}<br>
                </div>
            </div>
            <hr>
        {% endfor %}
    {% else %}
    <p>No listings in your cart.</p>
    {% endif %}
</div>

<div id="Summary">
    <p>Total Items: {{ quantityTotal }}</p>
    <p>Total Price: ${{ priceTotal }}</p>
    <p>Charging card: xxxx-xxxx-xxxx-{{ cardLast4 }}</p>

</div>

{% if listingsData %}
<form method="POST" action="/cart">
    <button type="submit">Purchase Order</button>
</form>
{% endif %}


{% endblock %}

