{% extends 'base.html' %}
{% block title %}Signup{% endblock %}

{% block body %}
<div class="container-sm">
    <div class="card-body">
        <h2 class="card-title">Join NittanyBusiness!</h2>

        <form action="/signup" method="POST">

            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" name="email" required class="form-control">
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" required class="form-control">
                <small class="form-text text-muted">
                    • 10-60 characters<br>
                    • At least one lowercase and one uppercase character<br>
                    • At least one special character (e.g., !@#$%^&*)
                </small>
            </div>


            <div class="form-check">
                <input class="form-check-input" type="radio" id="sellerType" name="accountType" value="seller" required>
                <label class="form-check-label" for="sellerType">Seller</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" id="buyerType" name="accountType" value="buyer" required>
                <label class="form-check-label" for="buyerType">Buyer</label>
            </div>
            <div class="form-check mb-3">
                <input class="form-check-input" type="radio" id="helpDeskType" name="accountType" value="helpDesk" required>
                <label class="form-check-label" for="helpDeskType">Help Desk</label>
            </div>


            <div id="notHelpDeskFields">
                <div class="form-group">
                    <label for="businessName">Business Name</label>
                    <input type="text" name="businessName" required class="form-control">
                </div>

                <div class="form-group">
                    <label for="addressStreet">Street</label>
                    <input type="text" name="addressStreet" required class="form-control">
                </div>

                <div class="form-group">
                    <label for="addressCity">City</label>
                    <input type="text" name="addressCity" required class="form-control">
                </div>

                <div class="form-group">
                    <label for="addressState">State</label>
                    <select name="addressState" required class="form-control">
                        <option value=AL>Alabama</option>
                        <option value=AK>Alaska</option>
                        <option value=AZ>Arizona</option>
                        <option value=AR>Arkansas</option>
                        <option value=CA>California</option>
                        <option value=CO>Colorado</option>
                        <option value=CT>Connecticut</option>
                        <option value=DE>Delaware</option>
                        <option value=FL>Florida</option>
                        <option value=GA>Georgia</option>
                        <option value=HI>Hawaii</option>
                        <option value=ID>Idaho</option>
                        <option value=IL>Illinois</option>
                        <option value=IN>Indiana</option>
                        <option value=IA>Iowa</option>
                        <option value=KS>Kansas</option>
                        <option value=KY>Kentucky</option>
                        <option value=LA>Louisiana</option>
                        <option value=ME>Maine</option>
                        <option value=MD>Maryland</option>
                        <option value=MA>Massachusetts</option>
                        <option value=MI>Michigan</option>
                        <option value=MN>Minnesota</option>
                        <option value=MS>Mississippi</option>
                        <option value=MO>Missouri</option>
                        <option value=MT>Montana</option>
                        <option value=NE>Nebraska</option>
                        <option value=NV>Nevada</option>
                        <option value=NH>New Hampshire</option>
                        <option value=NJ>New Jersey</option>
                        <option value=NM>New Mexico</option>
                        <option value=NY>New York</option>
                        <option value=NC>North Carolina</option>
                        <option value=ND>North Dakota</option>
                        <option value=OH>Ohio</option>
                        <option value=OK>Oklahoma</option>
                        <option value=OR>Oregon</option>
                        <option value=PA>Pennsylvania</option>
                        <option value=RI>Rhode Island</option>
                        <option value=SC>South Carolina</option>
                        <option value=SD>South Dakota</option>
                        <option value=TN>Tennessee</option>
                        <option value=TX>Texas</option>
                        <option value=UT>Utah</option>
                        <option value=VT>Vermont</option>
                        <option value=VA>Virginia</option>
                        <option value=WA>Washington</option>
                        <option value=WV>West Virginia</option>
                        <option value=WI>Wisconsin</option>
                        <option value=WY>Wyoming</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="addressZip">Zip Code</label>
                    <input type="text" name="addressZip" required class="form-control">
                    <small class="form-text text-muted">• 4-5 digits</small>
                </div>
            </div>


            <div id="sellerFields">
                <div class="form-group">
                    <label for="csNum">Customer Service Number</label>
                    <input type="text" name="csNum" required class="form-control">
                    <small class="form-text text-muted">• 10 digits</small>
                </div>
                <div class="form-group">
                    <label for="bankAccountNum">Bank Account Number</label>
                    <input type="text" name="bankAccountNum" required class="form-control">
                    <small class="form-text text-muted">• 8 digits</small>
                </div>
                <div class="form-group">
                    <label for="bankRoutingNum">Bank Routing Number</label>
                    <input type="text" name="bankRoutingNum" required class="form-control">
                    <small class="form-text text-muted">• 9 digits</small>
                </div>
                <div class="form-group">
                    <label for="bankBalance">Bank Balance</label>
                    <input type="text" name="bankBalance" required class="form-control">
                    <small class="form-text text-muted">• Digits only</small>
                </div>
            </div>


            <div id="buyerFields">
                <div class="form-group">
                    <label for="cardNum">Card Number</label>
                    <input type="text" name="cardNum" required class="form-control">
                    <small class="form-text text-muted">• 16 digits</small>
                </div>
                <div class="form-group">
                    <label for="cardType">Card Type</label>
                    <select name="cardType" required class="form-control">
                        <option value="Master">Master</option>
                        <option value="Discover">Discover</option>
                        <option value="American Express">American Express</option>
                        <option value="Visa">Visa</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="cardExpDate">Expiration Date</label>
                    <div class="form-row">
                        <div class="col">
                            <select name="cardExpMonth" class="form-control">
                                <option value='01'>01</option>
                                <option value='02'>02</option>
                                <option value='03'>03</option>
                                <option value='04'>04</option>
                                <option value='05'>05</option>
                                <option value='06'>06</option>
                                <option value='07'>07</option>
                                <option value='08'>08</option>
                                <option value='09'>09</option>
                                <option value='10'>10</option>
                                <option value='11'>11</option>
                                <option value='12'>12</option>
                            </select>
                        </div>
                        <div class="col">
                            <select name="cardExpYear" class="form-control">
                                <option value='2025'>2025</option>
                                <option value='2026'>2026</option>
                                <option value='2027'>2027</option>
                                <option value='2028'>2028</option>
                                <option value='2029'>2029</option>
                                <option value='2030'>2030</option>
                                <option value='2031'>2031</option>
                                <option value='2032'>2032</option>
                                <option value='2033'>2033</option>
                                <option value='2034'>2034</option>
                                <option value='2035'>2035</option>
                                <option value='2036'>2036</option>
                                <option value='2037'>2037</option>
                                <option value='2038'>2038</option>
                                <option value='2039'>2039</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="cardSecurityCode">Security Code</label>
                    <input type="text" name="cardSecurityCode" required class="form-control">
                    <small class="form-text text-muted">• 3-4 digits</small>
                </div>
            </div>


            <div id="helpDeskFields">
                <div class="form-group">
                    <label for="position">Job Position</label>
                    <input type="text" name="position" class="form-control" required>
                </div>
            </div>


            <button type="submit" class="btn btn-outline-primary">Sign Up</button>
            <a href="login" class="btn btn-outline-secondary" role="button">Already have an account?</a>

            {% if nonUniqueFields %}
                <p class="text-danger mt-3">
                    These fields are already registered:{% for field in nonUniqueFields %} {{field}}{% endfor %}
                </p>
            {% endif %}

            {% if malformedFields %}
                <p class="text-danger mt-3">
                    These fields are not formatted correctly:{% for field in malformedFields %} {{field}}{% endfor %}
                </p>
            {% endif %}
        </form>
    </div>
</div>


<script>
    document.addEventListener("DOMContentLoaded", showNeededFields());

    document.querySelector('form').addEventListener('change', function () {
        showNeededFields();
    });

    function showNeededFields() {
        if (document.getElementById('sellerType').checked) {
            document.getElementById('sellerFields').style.display = 'block';
            document.getElementById('buyerFields').style.display = 'none';
            document.getElementById('helpDeskFields').style.display = 'none';

            document.getElementById('notHelpDeskFields').style.display = 'block';

            document.querySelectorAll("#sellerFields input").forEach(e => {
                e.disabled = false
            });
            document.querySelectorAll("#buyerFields input").forEach(e => {
                e.disabled = true
            });
            document.querySelectorAll("#helpDeskFields input").forEach(e => {
                e.disabled = true
            });
            document.querySelectorAll("#notHelpDeskFields input").forEach(e => {
                e.disabled = false
            });

        } else if (document.getElementById('buyerType').checked) {
            document.getElementById('sellerFields').style.display = 'none';
            document.getElementById('buyerFields').style.display = 'block';
            document.getElementById('helpDeskFields').style.display = 'none';

            document.getElementById('notHelpDeskFields').style.display = 'block';

            document.querySelectorAll("#sellerFields input").forEach(e => {
                e.disabled = true
            });
            document.querySelectorAll("#buyerFields input").forEach(e => {
                e.disabled = false
            });
            document.querySelectorAll("#helpDeskFields input").forEach(e => {
                e.disabled = true
            });
            document.querySelectorAll("#notHelpDeskFields input").forEach(e => {
                e.disabled = false
            });

        } else if (document.getElementById('helpDeskType').checked) {
            document.getElementById('sellerFields').style.display = 'none';
            document.getElementById('buyerFields').style.display = 'none';
            document.getElementById('helpDeskFields').style.display = 'block';

            document.getElementById('notHelpDeskFields').style.display = 'none';

            document.querySelectorAll("#sellerFields input").forEach(e => {
                e.disabled = true
            });
            document.querySelectorAll("#buyerFields input").forEach(e => {
                e.disabled = true
            });
            document.querySelectorAll("#helpDeskFields input").forEach(e => {
                e.disabled = false
            });
            document.querySelectorAll("#notHelpDeskFields input").forEach(e => {
                e.disabled = true
            });
        } else {
            document.getElementById('sellerFields').style.display = 'none';
            document.getElementById('buyerFields').style.display = 'none';
            document.getElementById('helpDeskFields').style.display = 'none';

            document.getElementById('notHelpDeskFields').style.display = 'none';

            document.querySelectorAll("#sellerFields input").forEach(e => {
                e.disabled = true
            });
            document.querySelectorAll("#buyerFields input").forEach(e => {
                e.disabled = true
            });
            document.querySelectorAll("#helpDeskFields input").forEach(e => {
                e.disabled = true
            });
            document.querySelectorAll("#notHelpDeskFields input").forEach(e => {
                e.disabled = true
            });
        }
    }
</script>

{% endblock %}