{% extends "base.html" %}
{% block title %}Signup{% endblock %}

{% block body %}
    <h1>Join NittanyBusiness!</h1>

    <!-- Form to type in email and password to signup-->
    <form action="/signup" method="POST">
        <h3>Login information</h3>
        <label for="email">Email</label>
        <input type="text" name="email" required><br>
    
        <label for="password">Password</label>
        <input type="password" name="password" required>
        <p>
            Password requirements: <br>
            1) Between 10 and 60 characters. <br>
            2) At least one lowercase and one uppercase character. <br>
            3) At least one special character ie:!@#$%^&*
        </p>
        
        <h3>What type of account would you like?</h3>
        <input type="radio" id="seller" name="account_type" onchange="showCSNum()" value="seller" checked required>
        <label for="seller">Seller</label><br>

        <input type="radio" id="buyer" name="account_type" onchange="showCSNum()" value="buyer" required>
        <label for="buyer">Buyer</label><br>

        <input type="radio" id="help_desk" name="account_type" onchange="showCSNum()" value="help_desk" required>
        <label for="help_desk">Help Desk</label><br><br>
    
        <label for="business_name">Business Name</label>
        <input type="text" name="business_name" required><br>

        <label for="CSNum" id="CSNumLabel">Customer Service Number</label>
        <input type="text" name="CS_num" id="CSNumInput" required><br>
    
        <h3>What is your business address?</h3>
        <label for="address_street">Street</label>
        <input type="text" name="address_street" required><br>

        <label for="address_city">City</label>
        <input type="text" name="address_city" required><br>
<!-- change value of dropdown state selection to abrevation. This will matches imported data. -->
        <label for="address_state">State</label>
        <select name="address_state" required>
            <option value=alabama>Alabama</option>
            <option value=alaska>Alaska</option>
            <option value=arizona>Arizona</option>
            <option value=arkansas>Arkansas</option>
            <option value=california>California</option>
            <option value=colorado>Colorado</option>
            <option value=connecticut>Connecticut</option>
            <option value=delaware>Delaware</option>
            <option value=florida>Florida</option>
            <option value=georgia>Georgia</option>
            <option value=hawaii>Hawaii</option>
            <option value=idaho>Idaho</option>
            <option value=illinois>Illinois</option>
            <option value=indiana>Indiana</option>
            <option value=iowa>Iowa</option>
            <option value=kansas>Kansas</option>
            <option value=kentucky>Kentucky</option>
            <option value=louisiana>Louisiana</option>
            <option value=maine>Maine</option>
            <option value=maryland>Maryland</option>
            <option value=massachusetts>Massachusetts</option>
            <option value=michigan>Michigan</option>
            <option value=minnesota>Minnesota</option>
            <option value=mississippi>Mississippi</option>
            <option value=missouri>Missouri</option>
            <option value=montana>Montana</option>
            <option value=nebraska>Nebraska</option>
            <option value=nevada>Nevada</option>
            <option value=new_hampshire>New Hampshire</option>
            <option value=new_jersey>New Jersey</option>
            <option value=new_mexico>New Mexico</option>
            <option value=new_york>New York</option>
            <option value=north_carolina>North Carolina</option>
            <option value=north_dakota>North Dakota</option>
            <option value=ohio>Ohio</option>
            <option value=oklahoma>Oklahoma</option>
            <option value=oregon>Oregon</option>
            <option value=pennsylvania>Pennsylvania</option>
            <option value=rhode_island>Rhode Island</option>
            <option value=south_carolina>South Carolina</option>
            <option value=south_dakota>South Dakota</option>
            <option value=tennessee>Tennessee</option>
            <option value=texas>Texas</option>
            <option value=utah>Utah</option>
            <option value=vermont>Vermont</option>
            <option value=virginia>Virginia</option>
            <option value=washington>Washington</option>
            <option value=west_virginia>West Virginia</option>
            <option value=wisconsin>Wisconsin</option>
            <option value=wyoming>Wyoming</option>
        </select><br>

        <label for="address_zip">Zipcode</label>
        <input type="text" name="address_zip" required><br><br>
        
        <button type="submit" href="signup">Sign Up</button>
        <a href="/login" role="button">Already have an account?</a>
    </form>
    {% if errorMessage %}
        <p style="color: red;">{{ errorMessage }}</p>
    {% endif %}
    <script>
        function showCSNum() {
                // Run when account type radio input changes. Checks if 'seller' input is checked.
                // If it is checked, prompt the user to input their customer service number.
                // If not checked, remove prompt and make hidden input not required.
            if (document.getElementById("seller").checked == false) {
                document.getElementById("CSNumLabel").style.display = "none";
                document.getElementById("CSNumInput").style.display = "none";
                document.getElementById("CSNumInput").required = false;
            }
            else {
                document.getElementById("CSNumLabel").style.display = "inline";
                document.getElementById("CSNumInput").style.display = "inline";
                document.getElementById("CSNumInput").required = false;
            }
        }
    </script>
{% endblock %}